In [20]:
import pandas as pd
import os
import shutil

In [6]:
data = pd.read_table('val_annotations.txt',header=None)

In [11]:
data.head()

            0          1   2   3   4   5
0  val_0.JPEG  n03444034   0  32  44  62
1  val_1.JPEG  n04067472  52  55  57  59
2  val_2.JPEG  n04070727   4   0  60  55
3  val_3.JPEG  n02808440   3   3  63  63
4  val_4.JPEG  n02808440   9  27  63  48

In [15]:
class_ids = sorted(data[1].unique())

In [16]:
len(class_ids)

200

In [19]:
for class_id in class_ids:
    os.mkdir(os.path.join('images',class_id))

In [26]:
files = data[0]
class_ids = data[1]

In [27]:
for i,file in enumerate(files):
    shutil.move(os.path.join('images',file),os.path.join('images',class_ids[i]))